<html>
    <head>
        <title>mi base de datos </title>
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
  
    <body>
        <header>
            <p> Mi sitio</p>
            <nav>
                <ul>
                    <li>
                        <a href="/alumnos/crear">Crear Alumno</a>
                    </li>
                    <li>
                       <a href="/alumnos"> Mirar lista de alumnos</a>
                    </li>
                </ul>
                
            </nav>
        </header>
        
 