
    <%- include ("header")  -%> 

    <h1>Listado de alumnos</h1>

    <ul>
        <% for(let i = 0; i < alumnos.length; i++){  %> 

            <li>
                <!-- <a href="/peliculas/<%= alumnos[i].id %> "> -->
                <%= alumnos[i].firstName %> 
            </a>
            </li>

            <% } %> 


    </ul>


    <%- include ("footer")  -%> 


    