<html>
    <head>
        <title>mi base de datos </title>
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
  
    <body>
<main class="login">
    <div class="login-box">

        <h1 class="h1Bienvenido">BIENVENIDO</h1>
        <form action="/listadoAlumnos" method="POST" class="form-login" id="form">
                   
            <input class="usu" type="text" name="firstName" placeholder="nombre" id="mail">
                   
            <input class="pas" type="text" name="lastName" placeholder="apellido" id="password">
                           
            <div class="recordar">
                <label class="reco" for="recordar">Recordar Usuario</label><br>
                <input type="checkbox" name="remember" class="checkbox"> <br><br>
                                
                <button type="submit" class="button-login" name="button"><i class="fa fa-sign-in"aria-hidden="true"></i>
                    <span>INGRESAR</span></button>
            </div>
        </form>
    </div>
</main>
<%- include ("./partials/footer")  -%> 